<%= render 'shared/page_title', title: t('allergens.title') %>

<%= render 'shared/errors', obj: @allergen %>
<div class="row">
  <div class="col-md-12">
    <%= render 'form', remote: false%>
    <div class="colormatch pl-5" style="text-align:center">
      [ <%= link_to t('forms.return_to_list'), app_allergens_path(current_app) %> ]
    </div>
  </div>
</div>