<div class="login-header">
<h1><%= @make_reservation ? 'Make Reservation' : raw(t('questions.ask_question')) %></h1>
<hr>
</div>

<%= render 'shared/errors', obj: @question %>

<div class="row">
  <%= render partial: "form"  %>
</div>

