<td colspan="7" class="border-0">
  <div class="list-group">
    <% obj.errors.full_messages.each do |msg| %>
      <div class="list-group-item list-group-item-action list-group-item-danger"><%= sanitize(msg) %></div>
    <% end %>
  </div>
</td>
