<h1>SSL Renewal Reminder</h1>
<p>Hello,</p>
<p>
 We wanted to remind you that the SSL certificate for <strong>eatndogood</strong> is set to expire in <strong><%= @days_left %> days</strong>. To ensure uninterrupted service and maintain security, we recommend renewing the certificate at your earliest convenience.
</p>
<p>Thank you</p>
