<div class="margin-sec" style="margin-top: 20px; margin-bottom: 50px !important;">
    <div class="col-md-12 recipe-detail">
    <div class="row">
      <div class="col-md-offset-3 col-md-6 col-sm-12 col-xs-12 detail-sec">
        <div class="box-inner-sec well box-content">
          <div id="staff-order">
            <%= render 'email_form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
