<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Error message:<br>
      <p><%= @content %></p>
    </h3>
  </body>
</html>