<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% app_title = 'My.ITopRecipes' %>
    <% app_title = 'Eat`nDoGood' if root_url.include?('eatndogood') %>
    <h3>We appreciate you for joining as our guest, Thank you.<br>
        What would you like for us to add on the menu?<br>
        We are looking forward to be of service.<br>
        Have a safe and joyful time ahead.<br>
        The <%= app_title %> Team
    </h3>
  </body>
</html>