<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome <%=@chef.chefname.capitalize %></h1>
    <p>
     You did not login from 60 days on itoprecipes, Please login on your account to create new masterpieces!
      <br>
    </p>
    <p>
     Regards
     <a href="http://itoprecipes.com/">http://itoprecipes.com</a>
    </p>
    
  </body>
</html>