<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to http://itoprecipes.com</h1>

    <p>
      To change the password, just follow this link: <a href="<%= @url %>" target="_blank"><%= @url %></a>.
    </p>
    <p>Thanks for request and have a great day!</p>
  </body>
</html>