<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Hello, friend! New Order was successfully created (by <%= @client_email %>).</h4>
  </body>
</html>
