<% if obj.errors.any? %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <% unless @failed_agreement_text  %>
            <h2 class="panel-title">
              <%= pluralize(obj.errors.count, "error") %>
              <%= t('errors.error_text', name: obj.class) %>
            </h2>
          <% end %>
          <div class="panel-body">
            <ul>
              <% obj.errors.full_messages.each do |msg| %>
                <li><%= sanitize(msg) %></li>
              <% end %>
            </ul>
          </div>
        </div>  
      </div>
    </div>
  </div>
<% end %>