<!-- Single button -->
<style>
  @media only screen and (max-width: 575px) {
    .ln-select {
      margin-left: 15%;
      width: 70%;
    }
  }
</style>
<div class="form-group">
  <div class="col-md-offset-2 col-md-3" style="padding: 15px !important">
    <%= select model, "locale", I18n.available_locales.collect { |l| [t(:language_name, locale: l), l]},{selected: I18n.locale},{ class: "form-control ln-select" } %>
  </div>
</div>
<script>
$(function() {
  var elem = "<%= elem %>"
  var locale = "<%= I18n.locale %>"
  var locales = ['en', 'it', 'de', 'fr', 'es']
  hideAllExpect(locales, locale, elem)
  $('#<%=model%>_locale').change(function(){
    var selected_locale = $(this).val()
    var localeSelect = document.getElementById("recipe_locale");
    var option;

    for (var i=0; i<localeSelect.options.length; i++) {
      option = localeSelect.options[i];
      if (option.value == selected_locale) {
        option.setAttribute('selected', 'selected');
      } 
      else {
        option.removeAttribute('selected');
      }
    }
    hideAllExpect(locales, selected_locale, elem)
  })
});

function hideAllExpect(locales, locale, elem) {
  _.each(locales, function(locale) {
    $("."+elem+"_"+locale).hide()
  })
  $("."+elem+"_"+locale).show()
}
</script>