<h1 align="center"><%= title.titleize %></h1>
<hr />
<div class="row">
  <div style="margin: 0 auto; display:none" class='is-draft'><span class="badge badge-warning" style="font-size: 150%">DRAFT</span></div>
</div>