<style>
  @media screen and (max-width: 600px) {
    .category-page-title {
      margin-top: <%= app_user_signed_in? ? '80px' : '10px' %>;
    }
  }
</style>

<div class="category-page-title" style="color: #F04123;">
  <%= render 'shared/page_title', title: "#{@ingredient.name}" %>
</div>

<% if @ingredient.recipes.count != 0 %>  
  <%= render 'recipes/recipe', obj: @ingredient_recipes %>
<% else %>
  <div class="row" style="margin-left: 10px;">
    <h4 align="center">No recipes yet!</h4>
  </div>
<% end %>