<div class="row field mb-2 nested-fields">
  <div class="col-5 new-order-item">
      <% if f.object.recipe || f.object.gift_card %>
        <%= f.label :name, f.object.gift_card ? f.object&.gift_card&.name : f.object&.recipe&.name %>
      <% else %>
        <% recipe_ids = @order.line_items.pluck(:recipe_id) %>
        <% recipes = Recipe.where(chef_id: @chef_ids, is_draft: false).where.not(id: recipe_ids).order(created_at: :desc) %>

        <%= f.select :recipe_id, recipes.collect  {|p| [ p.name.truncate_words(3), p.id ] }, {}, class: 'order-field', onblur: @order.new_record? ? '' : 'changeRecipeForm();', onfocusout: 'changeNewRecipe();' %>
      <% end %>
  </div>
  <div class="col-5"><%= f.number_field :quantity, class: 'order-field', step: 1, min: 1, onchange: 'changeQuantity();',
                                                   onfocusout: @order.new_record? ? '' : 'changeQuantityRecipeForm();'  %></div>
  <div class="col-1">
    <%= link_to_remove_association "X", f, { class: 'remove-new-recipe btn btn-lg btn-outline-danger',
                                             onmousedown: 'removeNewRecipe();',
                                             onfocusout: @order.new_record? ? '' : 'changeRecipeForm();' } %>
  </div>
</div>