<p>
  <input id="session-id" value="<%= @session_id %>" type="hidden">
</p>

<script type="text/javascript">
    var publishableKey = "<%= Rails.configuration.stripe[:publishable_key] %>"
    var stripe = Stripe(publishableKey);
    var sessionId = document.getElementById("session-id").value;

    document.addEventListener("DOMContentLoaded", function () {
      return stripe.redirectToCheckout({ sessionId: sessionId });
    });
</script>
