<div class="container">
  <div class="welcome-page">
    <div class="welcome-title">
      <%= raw @page.title %>
    </div>
    <div class="welcome-content">
      <%= raw @page.content %>
    </div>
  </div>
</div>
