<%= render 'shared/page_title', title: t('common.edit_name' , name: "Category") %>

<%= render 'shared/errors', obj: @style %>
<div class="row">
  <div class="col-md-12">
    <%= render 'form', remote: false%>
    <div class="colormatch" style="text-align:center">
      [ <%= link_to t('forms.return_to_list'), app_route(app_styles_path(current_app)) %> ]
    </div>
  </div>
</div>
