<%= render 'shared/page_title', title: "#{@style.name}" %>
<% if @style.recipes.count != 0 %>
  
  	<center><h1 align="center">Recipe's containing <%= @style.name %></h1></center>
  
  
  <%= render 'recipes/recipe', obj: @recipes %>
  
<% else %>
  <div class="row">
    <h4 align="center">No recipes yet!</h4>
  </div>
<% end %>