<div class="login-header">
<h1>
	<% if params[:type] == "reservation" %>
		<t('reservations.make_reservation') %>
	<% else %>
		<t('reservations.make_catering') %>
	<% end %>
</h1>
<hr>
</div>

<%= render 'shared/errors', obj: @reservation %>

<div class="row">
  <%= render partial: "form"  %>
</div>

