<div class="margin-sec top-space" style="margin-top: 50px;">
    <div class="col-md-12 margin-sec top-space recipe-detail">
    <div class="row">
      <div class="col-md-offset-2 col-md-8 col-sm-12 col-xs-12 detail-sec">
        <div class="box-inner-sec well box-content">
          <div id="cart">
            <%= render @current_cart %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
