.ImagePreviewBox, a.cke_dialog_tab{
  width: auto !important;
  min-width: auto !important;
}
.title-heading{
  margin-top: 80px;
}
.collapsible-item-body img, .cke_editable img{
  width: 100% !important;
}