.ImagePreviewBox, a.cke_dialog_tab{
  width: auto !important;
  min-width: auto !important;
}
.title-heading{
  margin-top: 80px;
}

.cke_colordialog_colorcell {
  width: 12px !important; /* All cells have equal width which depends on parent width (in this case table parent). Width works more like max-width. */
  height: 14px !important;
  padding: 1px !important; /* Padding is replaced by border for focused cells. Prevents 'jumping' when adding borders. */
}

.cke_colordialog_colorcell.cke_colordialog_focused_light,
.cke_colordialog_colorcell.cke_colordialog_focused_dark {
  padding: 0 !important; /* Shrink cell to allow 1px border indicating focus. */
  border: 1px dotted #000 !important;
}

.cke_colordialog_colorcell.cke_colordialog_focused_dark {
  border-color: #FFF !important;
}
/*========== Border Styling Start ==========*/

.border-bottom-secondary-1{
  border-bottom: 1px solid #dee2e6 !important;
}

/*========== Border Styling End ==========*/