@import "bootstrap-sprockets";
@import "bootstrap";

html {
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
}

.center {
  text-align: center;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.btn-xlarge {
  background-color: #073B15;
}

.btn-xlarge:hover {
  color: #fff;
  text-decoration: none;
}

body {
  height: auto;
}

footer {
  border-top: 1px solid #eaeaea;
  color: #777;
  padding-left: 10px;
  padding-right: 10px;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.description {
  margin-top: 0;
}

.well a {
  color: #073B15;
}

.chef_info {
  margin-top: 10px;
}

.colormatch a {
  color: #073B15;
}

.recipe-actions {
  padding-top: 5px;

  a {
    color: #fff;
  }
}

.listing {
  list-style: none;
  padding-left: 0;
}

.chef-title {
  color: #073B15;
  font-weight: bold;
  font-size: 1.25em;
}

.input_checkbox input {
  width: auto !important;
}

.center-block {
  float: none;
}

.chat-container {
  bottom: 0;
  left: 0;
  right: 0;
  top: 150px;
  width: 80;
}

.message-container {
  .form-control {
    float: left;
    width: 80%;
  }

  .btn {
    float: right;
    position: relative;
    height: 54px !important;
    width: 18%;
  }
}

.message {
  padding-left: 5px;
  padding-top: 10px;
}

.messages {
  border: 1px solid #eaeaea;
  height: 16em;
  position: relative;
  overflow: auto;
}

.liking {
  padding-right: 10px;
}

.small-image {
  max-width: 25px;
  height: auto;
}

.login-sec {
  padding: 20px;
  border-radius: 0;
  border-width: 1px;
  float: none;
  margin: 0 auto 70px;
  display: table;
}

.login-sec label {
  font-weight: 500;
  font-size: 14px;
}

.login-sec .field input {
  height: 36px!important;
  line-height: 36px!important;
  padding: 5px 10px;
  outline: none;
  border: 1px solid #d2d2d2;
  margin-bottom: 20px;
}

.login-sec input {
  // border-radius: 0px!important;
}

.login-sec .btn-primary:hover {
  background-color: rgba(129, 96, 225, 0.8);
}

.login-sec.reply-answer textarea {
  padding: 20px;
}

.login-sec.reply-answer textarea:focus {
  outline: 0;
  border-color: #5bb05d;
}

.login-sec textarea:focus {
  outline: 0;
  border-color: #5bb05d;
}

.login-sec.reply-answer label {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 15px;
}

.login-sec.reply-answer a.btn-small {
  height: 36px;
  line-height: 36px;
  padding: 0 13px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 0;
  float: right;
}

.login-sec form + a {
  float: right;
  padding-top: 5px;
}

.login-sec input:focus {
  border: 1px solid #5bb05d;
  outline: 0;
}

.login-sec.well {
  padding: 15px;
  border-radius: 0;
  border: 1px solid #9999994f;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background: transparent;
}

.login-sec .field input {
  width: 100%;
}

.actions input {
  float: left;
  display: block;
}

.login-header h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.menu {
  width: 100%;
}

.menu div {
  margin: 0 10px;
}

.welcome-page {
  align: center;
}

.navbar-default {
  width: 100%;
  background-color: #0c2b5e;
  height: 70px;
}

.header img {
  width: 100%;
  height: 100px;
  position: relative;
}

.button-menu {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 5%;
  left: 40%;
}

.button-menu div {
  display: inline-block;
  margin-right: 20%;
}

.auth_buttons div {
  display: inline-block;
}

.auth_buttons div {
  margin-top: 1%;
  float: right;
  margin-right: 1%;
}

.custom-select {
  position: absolute;
  top: 145%;
  right: 45%;
  color: #fff;
  padding: 20px 17px;
  background: none;
  border: none;
  background: rgba(97, 148, 85, 0.62);
  border-radius: 0;
  color: #fff;
  font-family: 'Merriweather', serif;
}

.about-tour {
  position: absolute;
  right: 40%;
  padding: 10px;
  font-size: 20px;
}

.about-private-info p {
  font-size: 20px;
  text-align: center;
}

.about-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.about-buttons div {
  margin-right: 1%;
  padding: 5px;
}

.about-buttons a {
  font-size: 20px;
}

.welcome-locale-selector .btn {
  padding: 10px 17px;
  background: rgba(97, 148, 85, 0.62);
  border-radius: 0;
  color: #fff;
  font-family: 'Merriweather', serif;
}

.welcome-locale-selector .btn:active,
.welcome-locale-selector .btn:focus,
.welcome-locale-selector .btn:hover {
  color: #fff;
  background: rgba(97, 148, 85, 0.62);
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.welcome-locale-selector .dropdown-menu {
  border-radius: 0;
  background: rgba(97, 148, 85, 0.62);
}

div.dropdown {
  position: relative;
  padding-top: 70%;
  padding-right: 1%;
}

@media screen and (min-width: 992px) {
  div.dropdown {
    width: 100%;
    height: auto;
    padding-top: 44%;
    font-size: 38px;
  }
}

.welcome-title h2 {
  color: #fff;
  font-size: 6em;
  font-weight: 300;
  line-height: 1.2;
  word-wrap: break-word;
  word-break: break-all;
  display: block;
  position: absolute;
  top: 0;
  font-family: 'Merriweather', serif;
}

div.welcome-title {
  position: relative !important;
}

img {
  max-width: 100% !important;
  height: auto !important;
}

.welcome-title {
  width: 100%;
  position: absolute;
}

.welcome-title img {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  display: block;
}

.welcome-content {
  width: 100%;
  margin-top: 15%;
  position: absolute;
}

.welcome-content span {
  font-size: 7vw !important;
  color: #848484;
}

@media screen and (min-width: 992px) {
  .welcome-content span {
    margin-top: 10%;
    font-size: 38px;
  }
}

div#enter {
  position: absolute;
  padding-top: 10%;
  padding-left: 45%;
}

.enter-sec a {
  width: 100%;
  height: 50px;
  font-size: 50px;
  padding: 5px;
  text-shadow: none !important;
  color: #fff !important;
  text-transform: capitalize;
  font-weight: 400;
  line-height: 80px;
  background: rgba(97, 148, 85, 0.62);
  border: 1px solid #fff;
  border-radius: 0;
  text-align: center;
  vertical-align: middle;
  font-family: 'Merriweather', serif;
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  .enter-sec a {
    width: 40%;
    height: 40px;
    font-size: 20px;
    padding: 10px;
    text-shadow: none;
    color: #fff;
    text-transform: capitalize;
    font-weight: 400;
    line-height: 80px;
    background: rgba(97, 148, 85, 0.62);
    border: 1px solid #fff;
    border-radius: 0;
    text-align: center;
    vertical-align: middle;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    padding: 5px;
  }
}

#enter :hover {
  background: rgba(97, 148, 85, 0.8);
}

.take_a_tour_as_guest {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

.take_a_tour_as_guest a {
  font-size: 18px;
  border-radius: 0;
}

.about-sign-up {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.about-sign-up a {
  font-size: 18px;
  border-radius: 0;
}

footer {
  width: 100%;
  float: left;
  background-color: #344a64!important;
  padding: 5px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
}

footer p {
  text-align: center;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 14px;
}

.guests-table {
  border-style: solid;
  border-color: #ddd;
}