.header-table {
  border-bottom: 1px double black;
}
.title {
  font-size: 1.6em;
  font-weight: 600;
}
.footer-table {
  border-top: 1px double black;
}
.greeting_message {
  margin-top: 10px;
  font-size: 1.3em;
  font-weight: 700;
}
.client-data {
  text-align: center;
}
.amount-data {
  padding-left: 50px;
  width: 60%;
}
.sub-total {
  font-size: 1.3em;
}
.total {
  font-size: 1.5em;
}
.product-name {
  padding-left: 50px;
}
.label {
  width: 60%;
}
.price {
  width: 60%;
}
